<div class="store-header">
  <div class="store-title">電子書商城</div>
  <div class="store-actions">
    <button class="cart-btn" (click)="goList()">產品清單</button>
    <button class="cart-btn" (click)="goCart()">
      購物車
      <span class="cart-count" *ngIf="cartCount > 0">{{ cartCount }}</span>
    </button>
  </div>
</div>
<div class="detail-container" *ngIf="book">
  <div class="detail-img">
    <img [src]="book.image" [alt]="book.title" />
  </div>
  <div class="detail-info">
    <div class="detail-title">{{ book.id }} {{ book.title }}</div>
    <div class="detail-row"><span>作者</span> {{ book.author }}</div>
    <div class="detail-row"><span>公司</span> {{ book.publisher }}</div>
    <div class="detail-row">
      <span>價格</span>
      <ng-container *ngIf="book.IsOnSale !== null; else normalPrice">
        <span class="origin-price">{{
          book.price | currency : "NTD" : "symbol" : "1.0-0"
        }}</span>
        <span class="sale-price">{{
          book.IsOnSale | currency : "NTD" : "symbol" : "1.0-0"
        }}</span>
      </ng-container>
      <ng-template #normalPrice>{{
        book.price | currency : "NTD" : "symbol" : "1.0-0"
      }}</ng-template>
    </div>
    <div class="detail-actions">
      <button class="back-btn" (click)="goBack()">返回</button>
      <button class="cart-btn" style="margin-left: auto" (click)="addToCart()">
        加入購物車
      </button>
    </div>
  </div>
</div>
