<div class="store-header">
  <div class="store-title">電子書商城</div>
  <div class="store-actions">
    <input
      type="text"
      placeholder="搜尋書名/作者"
      [(ngModel)]="searchInput"
      (ngModelChange)="onSearchInputChange()"
      (keyup.enter)="onSearch()"
    />
    <button (click)="onSearch()">搜尋</button>
    <button class="cart-btn" (click)="goCart()">
      購物車
      <span *ngIf="cartCount > 0" class="cart-count">{{ cartCount }}</span>
    </button>
  </div>
</div>
<div class="container">
  <div class="grid">
    <ng-container *ngIf="pagedBooks().length > 0; else noBooks">
      <div *ngFor="let book of pagedBooks()" class="book-card">
        <img [src]="book.image" [alt]="book.title" />
        <div class="book-info">
          <div class="book-title">#{{ book.id }} {{ book.title }}</div>
          <div class="book-author">{{ book.author }}</div>
          <div class="book-publisher">{{ book.publisher }}</div>
          <div class="book-price">
            <span *ngIf="book.IsOnSale !== null; else normalPrice" class="sale"
              >特價 ${{ book.IsOnSale }}</span
            >
            <ng-template #normalPrice>${{ book.price }}</ng-template>
          </div>
        </div>
        <div class="book-actions">
          <button (click)="addToCart(book)">加入購物車</button>
          <button (click)="goDetail(book.id)">明細</button>
        </div>
      </div>
    </ng-container>
    <ng-template #noBooks>
      <div
        style="
          grid-column: 1 / -1;
          text-align: center;
          color: #888;
          font-size: 1.2rem;
          padding: 2rem 0;
        "
      >
        無書籍資料
      </div>
    </ng-template>
  </div>
  <div class="pagination">
    <button (click)="prevPage()" [disabled]="page === 1">上一頁</button>
    <ng-container *ngFor="let p of [].constructor(totalPages); let i = index">
      <button (click)="goToPage(i + 1)" [class.active]="page === i + 1">
        {{ i + 1 }}
      </button>
    </ng-container>
    <button (click)="nextPage()" [disabled]="page === totalPages">
      下一頁
    </button>
    <span>
      跳至
      <input
        type="number"
        min="1"
        [max]="totalPages"
        [(ngModel)]="pageInput"
        (keyup.enter)="onPageInputChange()"
        style="width: 3em"
      />
      / {{ totalPages }} 頁</span
    >
  </div>
</div>
